<!DOCTYPE html>
<html>
<head>
	<title>Twitter to Fediverse 公共查询列表</title>
	<!-- 引入 Bootstrap 样式表 -->
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1 class="text-center mt-5">Twitter to Fediverse 公共查询列表</h1>
		<div class="row justify-content-center mt-5">
			<div class="col-md-8">
				<p>查询 API 使用方式：</p>
				<pre><code>[GET] https://t2m.ooyeep.uk/api?username=TWITTER_USERNAME</code></pre>
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				<h4 class="text-center">登录以设置你的信息</h4>
				<a href="/login" class="btn btn-primary d-block mx-auto mt-3"><img src="https://abs.twimg.com/icons/apple-touch-icon-192x192.png" alt="Twitter" width="24px" height="24px" class="me-2">Login with Twitter</a>
			</div>
		</div>
	</div>
	<!-- 引入 Bootstrap JavaScript 脚本 -->
	<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>